secrets.txt filter=git-crypt diff=git-crypt
AD/** filter=git-crypt diff=git-crypt
scripts/** filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
*.gpg filter=gpg diff=gpg
*.asc filter=gpg diff=gpg
